
#schedule {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#schedule td, #schedule th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#schedule tr:nth-child(even){background-color: #ffe6cc;}

#schdeule tr:hover {background-color: #ddd;}

#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000099;
  color: white;
}