<!DOCTYPE html>
<html>
<head>
    <title> Login In Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginstyle.css')}}">
</head>
    <body>
        <div class="content">
            <form action={{url_for('index')}} method="POST">     
                    {{ form.hidden_tag() }}     
                        {{form.username.label}} 
                        {{form.username}}
                   
                        {{form.password.label}}
                        {{form.password}}
                
                        {{form.submit(class_="loginbtn")}}
                </form>   
          </div>   
    <div class="main" >
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> {{message}} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %} 
    {% endblock %}
    </div>
    </body>
    
